body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header {
    background-color: #003b6f;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 36px;
}
nav {
    background-color: #eaeaea;
    padding: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #003b6f;
    font-weight: bold;
}
.container {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}
h2 {
    color: #003b6f;
    margin-top: 40px;
    margin-bottom: 10px;
}
p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}
.infographic {
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}
.infographic h3 {
    color: #003b6f;
}
footer {
    background-color: #003b6f;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}



button{
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne */
    border: none; /* Suppression de la bordure par défaut */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Changer le curseur au survol */
    transition: background-color 0.3s, transform 0.2s; /* Animation */

}


/* État actif (quand le bouton est cliqué) */
#resetButton:hover{
    opacity: 0,5;
}